*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
}
button{
    appearance: none;
    border: none;
    outline: none;
    background: none;
}
.container{
    background-color: #1e213f;
    margin: 10em ;
    color: #fff;
}
.main{

    width: fit-content;
    margin: 0 auto;
}
.header img{
    margin-top: 50px;
    width: 50px;
    margin-left: 9rem;
}
.header h1{
    text-align: center;
    font-size: 40px;
}
.promodoro-action-btn button{
    margin-top: 1.5rem;
    background-color: #2d325a;
    color: #f2f2f2;
    padding: 5px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 500;
    font-size:20px;
    
}
.promodoro-action-btn{
    display: flex;
    gap: 15px;
}

.timer{
    text-align: center;
    margin-top: 10px;
    font-size: 40px;
}
.main-action-btn button{
    margin-top: 1.5rem;
    background-color: #2d325a;
    color: #f2f2f2;
    padding: 7px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 500;
    font-size:20px;
}
.main-action-btn{
    display: flex;
    gap: 30px;
    align-items: center;
    margin-left: 30px;
    padding-bottom: 50px;
}
.copyright{
    text-align: center;
    margin-bottom: 15px;
}
@media (max-width: 800px) {
 
    .container{
        background-color: #2d325a;
        width: 100%;
        height: 55em;
        margin: 1em auto;
    }
    .main{
        width: fit-content;
        margin: 0 auto;
    }
    .header img{
        margin-top: 50px;
        width: 90px;
        margin-left: 11rem;
    }
    .header h1{
        background-image: linear-gradient(to right, pink, purple);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-align: center;
        font-size: 50px;
    }
    .header .h1{
        margin-top: 2em;
    }
    .promodoro-action-btn button{
        margin-top: 1.5rem;
        background-color: #535baa;
        color: #f2f2f2;
        padding: 10px;
        border-radius: 4px;
        cursor: pointer;
        font-weight: 500;
        font-size:25px;
        
    }
    .promodoro-action-btn{
        display: flex;
        gap: 15px;
        margin-top: 2em;
    }
    
    .timer{
        text-align: center;
        margin-top: 30px;
        font-size: 60px;
        color: black;
    }
    .main-action-btn button{
        margin-top: 1.5rem;
        background-color: #535baa;
        color: #f2f2f2;
        padding: 10px;
        border-radius: 4px;
        cursor: pointer;
        font-weight: 500;
        font-size:25px;
    }
    .main-action-btn{
        display: flex;
        gap: 30px;
        align-items: center;
        margin-left: 60px;
        /* padding-bottom: 50px; */
    }
    .copyright{
        text-align: center;
        margin-bottom: 15px;
    }
    .copyright span{
        background-image: linear-gradient(to right, pink, purple);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

}